fastapi>=0.68.0,<0.69.0
uvicorn>=0.15.0,<0.16.0
# add anything else you application needs to be able to run
torch
transformers
python-multipart
prometheus-fastapi-instrumentator
sentencepiece
protobuf